* {
    margin: 0;
    padding: 0;
    color: #545454;
    background-color: #CFCFCF;
    
}

html {
    scroll-behavior: smooth; 
}

body {
    font-family: "Oswald", sans-serif;
    line-height: 1.7;
}




/* -----  Tags  ----- */
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #000000;
}

img {
    height: 100%;
}


/* ---------------  HEADER  --------------- */

.header {
    padding: 20px 20px;
    align-items: center; 
    display: flex;
    justify-content: center;
}


/* ---------------  NAV  --------------- */
.nav {
    width: 35%;
    margin: 0px auto;
}
.nav-list {
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
}

/* ---------------  MAIN  --------------- */

.main-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
  
.section {
    width: 45%;
    padding: 20px;
    border-bottom: 1px solid #545454;
}

@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

.section-title {
    font-weight: 400;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.my_photo {
    height: 120px;
    opacity: .8;
    text-align: center;
}
.info {
    padding: 20px 10px;
    font-size: 10px;
    margin: auto 10px;
}
.my-name {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3;
}
.my-profession {
    letter-spacing: .5;
}

/* ---------------  FOOTER  --------------- */

.footer {
    display: flex;
    justify-content: center;
    height: 100px;
}

.github {
    display: flex;
    align-items: center;
    padding: 30px;
    font-weight: 700;
    line-height: 1.1;
}

.github_link {
    opacity: .6;
    padding: 5px;
}

.github_link:hover {
    opacity: 0.9;
}

.rsschool {
    width: 100px;
    opacity: .6;
    padding: 30px;
}
.rsschool:hover {
    opacity: 0.9;
}

.year {
    font-size: 30px;
    font-weight: 600;
    padding: 30px;
}

.icon {
    width: 30px;
}